@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;900&display=swap');

body{
    margin: 0;
    padding: 0;
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Inter', sans-serif;
    text-shadow: 2px 2px 2px #474747;
}

.dashboard-container{
    background-color: rgba(0, 0, 0, 0.121);
    margin: 5% auto 10% auto;
    border: 3px solid rgb(253, 169, 109);
    width: 400px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .7fr .8fr 1.5fr .5fr;
}

.authorName{
    color: white;
    font-weight: lighter;
    font-size: 1em;
    margin-left: 5%;
    margin-top: 10%;
}

.cryptoSection{
    display: grid;
    grid-template-columns: 4fr;
    color: white;
}

.cryptoBlock{
    display: grid;
    grid-template-columns: 1fr 4fr 6fr;
    margin: 0 2em 0 2em;
    border-bottom: 2px solid rgba(255, 255, 255, 0.151);
}

.cryptoBlock p {
    margin: auto 0 auto 0;
    text-align: left;
}

.cryptoBlock img {
    margin: auto 0 auto 0;
}

.prices{
    margin: auto;
}

.timeSection{
    color: rgba(255, 255, 255, 0.913);
    text-align: center;
    font-size: 4em;
    font-weight: normal;
}

.timeSection p{
    margin-bottom: 0;
}

.weatherSection{
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: white;
}

.weatherTemp p{
    font-size: 3em;
    margin-bottom: 0;
    font-weight: lighter;
}

.weatherIcon{
    margin: auto 0 auto auto;
}

.weatherLocation{
    grid-column: 1/3;
    text-align: center;
    font-size: 2em;
    
}

.weatherLocation p{
    margin: 0 0 2em 0;
}