@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;900&display=swap');

body{ 
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.nav{
    background-image: url(images/nav\ img.jpg);
    background-size: cover;
    height: 33vh; 
}

.head{
    background: rgba(0, 0, 0, 0.76);
    height: 33vh;
    padding: 0% 8% 0% 8%;
}
.headCover{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-top: 13vh;
}

.headCover h1{
   margin: auto auto auto 0;
   color: white;
   text-align: left;
   font-size: 42px;
   vertical-align: middle;
   letter-spacing: .05em;
   opacity: .9;
}

.headCover button{
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    height: 20px;
    font-weight: 700;
    font-size: 17px;
    width: fit-content;
    margin: auto;
    opacity: .9;
}

.search{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: -2.2vh 8% 0% 8%;
    height: 40px;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    background-color: white;
}

.search input{
    background: none;
    border: none;
    border-right: 1px solid #D1D5DB;
    background-image: url(./images/mag.svg);
    background-repeat: no-repeat;
    background-position: 0%;
    background-position: 1em;
    padding-left: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #6B7280;
}

.search input::placeholder{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #6B7280;
}

.search button{
    background: #F9FAFB;;
    border: none;
    border-radius: 0px 6px 6px 0px ;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #374151;
    cursor: pointer;
}


