@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #f1f9a9;
    font-family: 'Open Sans', sans-serif;
}

.nav{
    width: 100%;
    background-color: #4cd162;
    height: 50px;
    position: fixed;
    top: 0;
}

.nav p {
    color: #f1f9a9;
    font-weight: bold;
    margin-left: 10%;
}

.blog-form{
    margin: 10% 10% 0% 10%;
    background-color: #4cd162;
    padding: 5%;
    border-radius: 10px;
}

.blog-form form{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    color: #edf6a0;
    font-weight: bold;
}

form label, input{
    grid-column: 1/4;
    margin: 2px;
}

form input{
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    background-color: #f1f9a9;
    border: none;
    border-radius: 10px;
    color: #4cd162;
    font-weight: lighter;
}

form textarea{
    grid-column: 1/4;
    height: 6em;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    background-color: #f1f9a9;
    border: none;
    border-radius: 10px;
    color: #4cd162;
    font-weight: lighter;
}

form button{
    grid-column: 2/3;
    background-color: #edf6a0;
    border: none;
    font-size: 1.4em;
    margin: 8px;
    color: #4cd162;
    border-radius: 5px;
    height: 2.5em;
    cursor: pointer;
}

form button:hover{
    transition: 100ms ease-in-out;
    border: 2px solid #4cd162;
}

.blog-container{
    margin: 10% 10% 0% 10%;   
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1em;
}

.blog-post{
    background-color: #edf6a0;
    padding: 1% 5% 1% 5%;
    border-radius: 10px;
    box-shadow: #4cd190;
}

.blog-title{
    color: #4cd162;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 1em;
}

.blog-body{
    color: #4cd190;
    font-size: .9em;
    font-weight: lighter;
}