@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&family=Poppins:wght@100;400;900&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: cadetblue;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

.container{
    padding: 5% 10% 5% 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 8fr 1fr; 
}

.card-container{
    grid-column: 1/4;
    margin: 10% 10% 10% 5%;
    height: 50vh;
}


.cardImg{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.drawCardBtn{
    grid-column: 1/4;
    background: none;
    font-size: 2em;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}

.drawCardBtn:hover{
    opacity: .8;
}

.newDeckBtn{
    background: none;
    font-size: 1.5em;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}

.newDeckBtn:hover{
    opacity: .8;
}

img{
    border: 3px solid white;
    border-radius: 15px;
    height: 300px;
    width: 200px;
    margin: 0 auto 0 auto;
}

.image-placeholder{
    border: 3px solid white;
    border-radius: 15px;
    height: 300px;
    width: 200px;
    margin: 0 auto 0 auto;
}

.winningCard{
    text-align: center;
    color: white;

}

.cardsRemaining{
    color: white;
    margin-left: 1em;
    font-weight: lighter;
    grid-column: 2/4;
}